<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<dict>
		<key>en</key>
		<string>Wechat</string>
		<key>zh-Hans</key>
		<string>微信</string>
	</dict>
	<key>actions</key>
	<dict>
		<key>shareToWechatWithVideoURL:</key>
		<string>weixin://dl/moments	</string>
	</dict>
</dict>
</plist>
